body {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
}

.area {
  box-sizing: border-box;
  width: 700px;
  height: 700px;
  border-collapse: separate;
  border-spacing: 9px;
}

.area__item {
  box-sizing: border-box;
  vertical-align: middle;
  width: 100%;
  width: 145px;
  height: 145px;
  background-color: lightcoral;
  border: 3px solid red;
}

.area__img-wrapper {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.area__img {
  width: 120px;
  height: 120px;
}

.cursor {
  display: none;
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url('http://www.rw-designer.com/cursor-extern.php?id=116484');
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}
